
/*importing fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Declaration des variables*/
:root {

    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    --color-silver: #e4e7ea;
    --color-white: #fff;
    --color-black: #111;
    --color-silver-text: #54667a;
    --color--silver-bg: #F1F1F4;
    --color-silver-bg-dark: #999;
    --color-red : #cd5c5c;
}


/*Selecteur HTML : starter font size : 10px */
html {
    font-size: 50%;
    font-weight: 400;
}

/*Font family*/
body {
    font-family: "Poppins", sans-serif;
}

/*Box sizing layout*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-size: 6rem;
    line-height: 9rem;
}

p{
    font-size: 2rem;
    line-height: 3rem;
}

.sign-up{
    height: 100vh;
    width: 100%;
    display: flex;
}

.account-left{
    width: 70%;
    color: white;
    background: url("../img/bg2.jpg") no-repeat center center/cover;
    position: relative;
}

.account-left::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--color-green);
    clip-path: polygon(0 0, 100% 0, 9% 100%, 0% 100%);
    opacity: .6;
}

.account-text{
    position: absolute;
    z-index: 2;
    padding: 17.5rem 21.25rem;
    width: 80%;
}


.account-right{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 7rem;
}

.form-area{
    width: 100%;
}

.form-heading{
    font-size: 3rem;
    line-height: 6rem;
    margin-bottom: 4rem;
    color: #99999999;
    border-bottom: 1px solid #99999999;
}

.control{
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #99999940;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.control:focus{
    background: rgba(232, 240, 254, 1);
}

.btn{
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    background: linear-gradient(to right, var(--color-green-light) 0%, var(--color-green-dark) 100%);
} 

.btn-round{
    border-radius: 50px;
    color: white;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, .6);
}

.link{
    color: var(--color-silver-bg-dark);
    font-size: 1.5rem;
    line-height: 3rem;
}

.file{
    display: none;
}

.upload-img{
    cursor: pointer;
    width: 100%;
    border: 1px solid #99999940;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.upload-icon{
    color: #28b485;
}
