
/*Declaration des variables*/
:root {

    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    --color-silver: #e4e7ea;
    --color-white: #fff;
    --color-black: #111;
    --color-silver-text: #54667a;
    --color--silver-bg: #F1F1F4;
    --color-silver-bg-dark: #999;
    --color-red : #cd5c5c;
}


/*Selecteur HTML : starter font size : 10px */
html {
    font-size: 10px;
    font-weight: 400;
}

/*Font family*/
body {
    font-family: "Poppins", sans-serif;
}

/*Box sizing layout*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}